<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    @* Pravimo formu koja gađa RegisterUser funkciju unutar User controllera;
        preko forme kupimo podatke koje ubacujemo u MongoDB preko RegisterUser funkcije *@

    @using (Html.BeginForm("RegisterUser", "UserController"))
    {
        @Html.AntiForgeryToken()
        <form>
            <label for="Username">Username:</label>
            <input for="Username" type="text" name="Username" />

            <label for="Name">Ime:</label>
            <input for="Name" type="text" name="Name" />

            <label for="Surname">Prezime:</label>
            <input for="Surname" type="text" name="Surname" />

            <label for="Password">Password:</label>
            <input for="Password" type="password" name="Password" />

            <label for="Email">Email:</label>
            <input for="Email" type="text" name="Email" />

            <input type="submit" value="Register" asp-action="RegisterUser" />

        </form>

    }

    @* Proveravamo da li je TempData iz kontrolera prazan; ako nije, znamo da je došlo do neke greške prilikom unosa; koristimo
        JavaScript da prikažemo grešku koju smo spremili u kontroleru*@
    @if (TempData["alertMessage"] != null)
    {
        <script type="text/javascript">
                    alert('@TempData["alertMessage"]');
        </script>
    }


</body>
</html>