<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
</head>
<body>

    <div class="container-fluid">
        <div class="col-md-12">
            <h2 class="mb-4">User Details</h2>
        </div>

        <div class="col-md-10 m-auto">
            <h4> <span class="font-weight-bold">Name:  </span> @ViewData["Name"]</h4>

            <h4> <span class="font-weight-bold">Surname:  </span> @ViewData["Surname"] </h4>
            <h4> <span class="font-weight-bold">Username:  </span>@ViewData["Username"] </h4>
            <h4> <span class="font-weight-bold">Email:  </span> @ViewData["Email"]</h4>


        </div>

      




    </div>

</body>
</html>