<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available rooms</title>
</head>
<body>

    @using System.Drawing;
    <div class="container-fluid">

        @* U foreach petlji prolazimo kroz listu svih soba (koju smo izvukli u kontroleru UserController) i za svaku sobu iz
        MongoDB kolekcije ispisujemo podatke*@

        @foreach (var x in (List<Room>)ViewData["ListOfRooms"])
        {

        <div class="col-md-4 mb-4">
            <p>Room number: @x.RoomNumber</p>
            <p>Price: @x.Price</p>
            <p><img src="~/images/@x.ImageName" /></p>

            <button type="button" class="btn btn-primary mr-3"> @Html.ActionLink("More Details", "RoomDetails", routeValues: new { RoomID = x.RoomID })</button>
        </div>
        }

        @if (TempData["alertMessage"] != null)
        {
            <script type="text/javascript">
                    alert('@TempData["alertMessage"]');
            </script>
        }
    </div>
    </body>
</html>
