<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available rooms</title>
</head>
<body>

    @using System.Drawing;
    <div class="container-fluid">

        @* U foreach petlji prolazimo kroz listu svih soba (koju smo izvukli u kontroleru UserController) i za svaku sobu iz
        MongoDB kolekcije ispisujemo podatke*@
        <div class="row">
            @foreach (var x in (List<Room>)ViewData["ListOfRooms"])
            {

                <div class="col-md-6 mb-4">
                    <dl class="dl-horizontal">
                        <dt>Room number</dt>
                        <dd>@x.RoomNumber</dd>
                        <dt>Price</dt>
                        <dd>@x.Price $</dd>
                    </dl>
                    <img src="~/images/@x.ImageName" class="img-fluid h-50 w-100" />

                    <button type="button" class="btn btn-primary mr-3 mt-4"> @Html.ActionLink("More Details", "RoomDetails", routeValues: new { RoomID = x.RoomID })</button>

                </div>

            
             }

        </div>






        @if (TempData["alertMessage"] != null)
        {
            <script type="text/javascript">
                    alert('@TempData["alertMessage"]');
            </script>
        }
    </div>
    </body>
</html>
