@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Hotel</h1>
    <p>We are renting all kinds of rooms with modern design for affordable prices.</p>
</div>
